@import "../bower_components/bootstrap/less/bootstrap.less";
@import "fontello.css";

/* ==========================================================================
   Mixins
   ========================================================================== */
.blur(@b) {
	-webkit-filter: blur(@b);
	-moz-filter: blur(@b);
	-o-filter: blur(@b);
	-ms-filter: blur(@b);
	filter: blur(@b);
}

.box-shadow(@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.transition-easeout(@time) {
	-webkit-transition: all @time ease-in-out;
	-moz-transition: all @time ease-in-out;
	-o-transition: all @time ease-in-out;
	transition: all @time ease-in-out;
}

.inline {
	display: inline-block;
}

a.block {
	display: block;
}

hr {
	margin: 5px 0;
}

.icon-reverse {
	&:before {
		transform: rotate(180deg) !important;
		-webkit-transform: rotate(180deg) !important;
		-moz-transform: rotate(180deg) !important;
		-o-transform: rotate(180deg) !important;
	}
}

@color_off: #ff2120;
@color_on:  #a1cb2f;
@color_neu: #ddd;

.medias {
	margin: 10px auto;
	h3, h3:visited, h3:hover, h3:active {
		color: inherit;
		text-decoration: none;
	}
	h3 {
		border-bottom: 1px dotted #000;
		text-align: center;
	}
	.media {
		margin: 15px 0;
		overflow: hidden;
		position: relative;
		img {
			display: block;
			max-width: 100%;
			margin: auto;
		}
	}

	a {
		color: #333;
		&:hover, &:visited, &:active {
			color: inherit;
			text-decoration: none;
		}
	}

	.control-options {
		padding-bottom: 5px;
		text-align: center;
		i {
			padding: 0 5px;

			&.border-left {
				border-left: 1px solid #333;
			}
			&.border-right {
				border-right: 1px solid #333;
			}
		}
		.warning {
			color: #D77A13;
		}
	}

	.action {
		position: absolute;
		left: 50%;
		margin-left: -30px;
		width: 20px;
		height: 20px;
		padding: 10px;
		border-radius: 15px;
		display: table;
		top: 60px;
		text-align: center;
		background-color: rgba(0, 0, 0, .3);
		font-size: 28px;
		color: #fff;
		.transition-easeout(.3s);
		opacity: .7;
		&:hover {
			color: #fff;
			opacity: 1;
		}
	}

	.btn-media {
		background-color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
		text-decoration: inherit;
		color: inherit;
		.box-shadow(0 2px 3px 1px rgba(0, 0, 0, 0.16));
		border: 1px solid #aaa;
		padding-top: 5px;
		overflow: hidden;

		border-top: 5px solid @color_neu;
		
		&.on {
			border-top: 5px solid @color_on;
		}
		&.off {
			border-top: 5px solid @color_off;
		}	

		&:visited, &:hover, &:active {
			text-decoration: none;
			color: inherit;
		}

		&:hover {
			.box-shadow(0 0 0 1px rgba(0, 0, 0, 0.16));
		}
	}

	.btn-group-vertical {
		.btn {
			border-bottom-right-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 4px !important;
			border-top-right-radius: 4px !important;

			&:active, &.active {
				border-bottom: 0;
			}
		}
		&+.media-info {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			a:first-child {
				border-top: 0;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	.media-info {
		height: 150px;
		overflow-y: auto;

		a:last-child {
			.progress-bar-bottom {
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}

		p {
			text-overflow: ellipsis;
			width: 65%;
			margin-bottom: 0;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
		}
	}
}

.media-info {
	.episode-title {
		margin-left: 10px;
		font-size: .9em;
		font-weight: bold;
	}

	.season-title {
		font-size: 1.2em;
	}
}

.progress-bar-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 6px;
	border-radius: 0;
	margin: 0;
	box-shadow: none;
	background: transparent;
}

.label-year {
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #aaa;
}


h1 {
	text-align: center;
	border-bottom: 1px solid #aaa;
}



.search-box {
	margin: 0 auto;
}


/*==================================
=            Animations            =
==================================*/
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/*-----  End of Animations  ------*/

