<!-- <h3>{{ media.title }}</h3> -->
<a href="#/{{ media.title.toLowerCase() }}"><img ng-src="{{media.background}}" alt="{{media.title}}" title="{{media.title}}" /></a>
<hr>
<div class="control-options">
	<i class="icon-download-alt">{{ media.data.upcoming.length }}</i>
</div>

<div class="btn-group-vertical btn-group-justified " data-toggle="buttons" ng-init="tv_media = media.data.history">
	<label class="btn btn-default active" ng-click="tv_media = media.data.history">
		<input type="radio"> History
	</label>

	<label class="btn btn-default" ng-click="tv_media = media.data.upcoming">
		<input type="radio"> Upcoming
	</label>
</div>
<div ng-if="media.data" class="media-info list-group">
	<a href="#" class="list-group-item" ng-repeat="tv in tv_media" ng-if="tv.eventType != 'grabbed'">
		<p class="media-info-title" title="{{ tv.sourceTitle }}">{{ tv.series.title }}</p>
		<span class="label label-year pull-right">{{ tv.series.year }}</span>
		<p class="media-info-subtitle" title="{{ tv.episode.title }}">{{ tv.title ? tv.title : tv.episode.title }}</p>
		<div class="pull-right">
			S{{ (tv.seasonNumber ? tv.seasonNumber : tv.episode.seasonNumber) | numberFixedLen:2 }}E{{ (tv.episodeNumber ? tv.episodeNumber : tv.episode.episodeNumber) | numberFixedLen:2 }}
		</div>
	</a>
</div>