<div class="checkbox">
	<input type="checkbox" id="activateNzbget" value="1" ng-model="media.nzbget.active" />
	<label for="activateNzbget"></label>
</div>
<div ng-if="media.nzbget.active">
    Last thing I need is your informations for yor NzbGet. I prefer you create an restricted user in NzbGet.
    <div class="info">
        <label for="urlNzbget">Url:port</label>
        <input class="form-control" type="text" id="urlNzbget" Placeholder="Default localhost:8989" ng-model="media.nzbget.url" />

        <label for="usernameNzbdrone">Username</label>
        <input class="form-control" type="text" id="usernameNzbdrone" Placeholder="" ng-model="media.nzbget.username" />
        <label for="passwordNzbdrone">Password</label>
        <input class="form-control" type="password" id="passwordNzbdrone" Placeholder="" ng-model="media.nzbget.password" />
    </div>
</div>