<h2>Your media</h2>
<p>For me to work with your media, you first need to give some informations.</p>
<form class="media-form" ng-submit="nextStep($event)">
    <div class="slide" ng-include="mediaTemplate"></div>
    <button type="button" class="btn btn-default btn-previous" ng-if="mediaTemplateIndex > 0" ng-click="previousMediaTemplate()">Previous</button>
    <button type="submit" class="btn pull-right" ng-class="{'btn-success btn-block':mediaFinished, 'btn-primary':!mediaFinished}" ng-disabled="setupIndex!=1">{{ mediaFinished ? 'This is easy. Keep going!' : 'Alright! Next media'}}</button>
</form>